%fieldset.col-lg-4
  %legend Assign Workers
  = form_for @job do |f|
    - if @job.errors.any?
      #error_explanation
        %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
        %ul
          - @job.errors.full_messages.each do |msg|
            %li= msg

    %div.col-lg-6
      = label_tag :enter_worker_first_name
      = text_field_tag "worker_profile[first_name]", params[:worker_profile]
    %div.col-lg-6
      = label_tag :enter_worker_last_name
      = text_field_tag "worker_profile[last_name]", params[:worker_profile]
    %div.row
    .actions
      = f.submit 'Save', :class => :button