= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend New Gardening Job Request
    %div.employer_section_form
      Employer Info (Step 1/2)
      %div.row
      %div.col-lg-4
        = f.label :employer_first_name
        = f.text_field :employer_first_name
      %div.col-lg-4
        = f.label :employer_last_name
        = f.text_field :employer_last_name
      %div.row
      %div.col-lg-4
        = f.label :estimated_duration
        = f.text_field :duration
      %div.col-lg-4
        = f.label :address
        = f.text_field :address
      %div.col-lg-4
        = f.label :phone_number
        = f.telephone_field :phone_number, :class => "phone"
      %div.col-lg-4
        = f.label :how_did_you_hear_about_us?
        = f.text_field :referred_by
      %div.row
      %a{:href=>"#", :id=>"next_link"}Next
    %div.job_section_form
      Job Info (Step 2/2)
      %div.row
      %div.col-lg-2
        = f.label :number_of_workers
        = f.number_field :num_of_workers
        = f.hidden_field :kind, :value => "Gardening"
      %div.col-lg-4
        = f.label :date_of_job
        = f.text_field :date_of_job, :id => "datetimepicker"
      %div.row
      %div.col-lg-2
        = f.label :truck_needed
        = check_box_tag :truck_needed
      %div.col-lg-2
        = f.label :dumpster_needed
        = check_box_tag :dumpster_needed
      %div.col-lg-4
        = f.label :english_level_required
        = f.select :english_level, options_for_select(["Some English","Fluent English","Not necessary"]), :prompt => "Select One"
      %div.col-lg-4
        = f.label :payment
        = f.select :payment, options_for_select(["Cash", "Personal Check", "On the Books (w-4)", "On the Books (1099)", "Other"]), :prompt => "Select One"
      %div.row
      %div.col-lg-6
        = f.label :description
        = f.text_area :description
      %div.col-lg-6
        = f.label :tools_provided
        = text_area_tag :tools_provided
      %div.col-lg-6
        = f.label :tools_needed
        = text_area_tag :tools_needed
      %div.row
      %div.col-lg-4
        = f.label :one_time
        = f.check_box :one_time
      %div.col-lg-4
        = f.label :pruning?
        = check_box_tag :pruning
      %div.col-lg-4
        = f.label :on_going
        = f.check_box :on_going
      %div.col-lg-4
        = f.label :frequency
        = f.text_field :frequency
      %div.row
      %div.col-lg-4
        = f.label :will_pick_up
        = f.check_box :will_pick_up
      %div.col-lg-4
        = f.label :is_this_an_estimate?
        = f.check_box :estimate
      %div.row
      %a{:href=>"#", :id=>"back_link"}Back
      .actions
        = f.submit 'Save', :class => :button