= form_for @worker_profile do |f|
  - if @worker_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker_profile.errors.count, "error")} prohibited this worker_profile from being saved:"
      %ul
        - @worker_profile.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :first_name
    = text_field_tag "user[first_name]", params[:user]
  .field
    = label_tag :last_name
    = text_field_tag "user[last_name]", params[:user]
  .field
    = label_tag :home_phone
    = number_field_tag "user[home_phone]", params[:user]
  .field
    = label_tag :cell_phone
    = number_field_tag "user[cell_phone]", params[:user]
  .field
    = label_tag :work_phone
    = number_field_tag "user[work_phone]", params[:user]
  .field
    = label_tag :address
    = text_field_tag "user[address]", params[:user]
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = f.label :esl_level
    = f.text_field :esl_level
  .field
    = f.label :wait_list
    = f.number_field :wait_list
  .field
    = f.label :own_vehicle
    = f.check_box :own_vehicle
  .field
    = f.label :health_insurance
    = f.check_box :health_insurance
  .field
    = f.label :want_referral
    = f.check_box :want_referral
  .field
    = f.label :flyered
    = f.datetime_select :flyered
  .actions
    = f.submit 'Save'
