= form_for @worker_profile do |f|
  - if @worker_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker_profile.errors.count, "error")} prohibited this worker_profile from being saved:"
      %ul
        - @worker_profile.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend New Member Form
    %div.row
      %div.col-lg-6
        = f.label :first_name
        = f.text_field :first_name
      %div.col-lg-6
        = f.label :last_name
        = f.text_field :last_name
    %div.row
      %div.col-lg-4
        = f.label :home_phone
        = f.telephone_field :home_phone, :class => "phone"
      %div.col-lg-4
        = f.label :cell_phone
        = f.telephone_field :cell_phone, :class => "phone"
      %div.col-lg-4
        = f.label :work_phone
        = f.telephone_field :work_phone, :class => "phone"
    %div.row
      %div.col-lg-12
        = f.label :address
        = f.text_field :address
    / .field
    /   = f.label :gender
    /   = f.text_field :gender
    %div.row
      %div.small-12.columns
        = f.label :bio
        = f.text_area :bio
    %div.row
      %div.col-lg-6
        = f.label :esl_level
        = f.text_field :esl_level
      %div.col-lg-6
        = f.label :wait_list
        = f.number_field :wait_list
    %div.row
      %div.col-lg-4
        = f.label :own_vehicle
        = f.check_box :own_vehicle
      %div.col-lg-4
        = f.label :health_insurance
        = f.check_box :health_insurance
      %div.col-lg-4
        = f.label :want_referral
        = f.check_box :want_referral
    / %div.row
    /   %div.col-lg-12
    /     = f.label :flyered
    /     = f.datetime_select :flyered
    %div.row
      %div.col-lg-12
        .actions
          = f.submit 'Save'
