%p#notice= notice
%p
  %b First Name:
  = @worker_profile.user.first_name
%p
  %b Last Name:
  = @worker_profile.user.last_name
%p
  %b Email:
  = @worker_profile.user.email
%p
  %b Gender:
  = @worker_profile.gender
%p
  %b Bio:
  = @worker_profile.bio
%p
  %b Esl level:
  = @worker_profile.esl_level
%p
  %b Wait list:
  = @worker_profile.wait_list
%p
  %b Own vehicle:
  = @worker_profile.own_vehicle
%p
  %b Health insurance:
  = @worker_profile.health_insurance
%p
  %b Want referral:
  = @worker_profile.want_referral
%p
  %b Flyered:
  = @worker_profile.flyered

= link_to 'Edit', edit_worker_profile_path(@worker_profile)
\|
= link_to 'Back', worker_profiles_path
