= form_for @employer_profile do |f|
  - if @employer_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employer_profile.errors.count, "error")} prohibited this employer_profile from being saved:"
      %ul
        - @employer_profile.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend New Employer Form
    %div.row
      %div.col-lg-6
        = f.label :first_name
        = f.text_field :first_name
      %div.col-lg-6
        = f.label :last_name
        = f.text_field :last_name
    %div.row
      %div.col-lg-4
        = f.label :home_phone
        = f.telephone_field :home_phone, :class => "phone"
      %div.col-lg-4
        = f.label :cell_phone
        = f.telephone_field :cell_phone, :class => "phone"
      %div.col-lg-4
        = f.label :work_phone
        = f.telephone_field :work_phone, :class => "phone"
    %div.row
      %div.col-lg-12
        = f.label :address
        = f.text_field :address

    %div.row
      %div.col-lg-12
        .actions
          = f.submit 'Save'
