%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"} Home
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{:href => "/welcome/about"} About Us
      - if current_user && current_user.profile_type.nil?
        %li.divider
        %li.active
          = link_to("New Worker Profile", new_worker_profile_path)
        %li.divider
        %li.active
          = link_to("New Employer Profile", new_employer_profile_path)
        %li.divider
        %li
          = link_to("#{current_user.email}", edit_user_registration_path)
        %li.divider
        %li.active
          = link_to("Log out", destroy_user_session_path)
      - else
        %li.divider
        %li
          = link_to("Sign up", new_user_registration_path)
        %li.divider
        %li
          = link_to("Sign in", new_user_session_path)
